<a target="_blank" href="{{options.path}}">In nested element!</a>

{{#each SectionPlaylist}}
    in loop {{{XprJson RendererBundlePath}}}
    <br/><br/>
    {{{XprElement bundlePath=Name options.playlist=this}}}
    <br/><br/><br/><br/>
{{/each}} 